doctype html
html(lang="ru-RU")
	head
		title Hello World
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		p Привет, эврибади мув ё бади
		h1 Winner
		h2 Pug works
		p Работает 1234
		.slider
			.slider-item 1
			.slider-item 2
			.slider-item 3
			.slider-item 4
			.slider-item 5	

		script(src = "js/libs.min.js")
		script(src = "js/main.js")