body
	font-size 15px
	overflow-x hidden
	background gray
	font-family arial
	color black

.slider
	width 100%

	&-item:first-child
		background red

	&-item:last-child
		background green

@import 'lib.styl'